.home-container{
    background-color: orange;
    padding: 20px;
}

.home-top-container{
    display: flex;
    justify-content: flex-end;
}

.logout-icon{
    font-size: 30px;
}

.attendance-dates-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.attendance-date-box{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.attendance-date-box h1{
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.present-absent{
    display: flex;
    border: none;
    border-radius: 10px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.present{
    color: green;
    font-weight: bold;
    margin-right: 5px;
}

.absent{
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

.date-picker{
    margin-top: 20px;
    width: 100%;
}

