.ride-details-container{
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ride-details-fixed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    gap: 35px;
}

.ride-details-label-fixed{
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.ride-details-input-fixed {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ride-details-card{
    padding: 10px;
    text-align: center;
}
.ride-details-label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    text-align: left;
}

.ride-details-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.ride-details-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

.trip-type-options {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.trip-type-options label {
    font-size: 14px;
    cursor: pointer;
}

.trip-type-options input[type="radio"] {
    margin-right: 5px;
    accent-color: #007bff; /* Adjust radio button color */
}

.search-results{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 100px;
    padding: 10px;
    margin: 0px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}